.certificates-container {
  background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
  width: 100%;
  min-height: 100vh;
  padding-bottom: 100px;
}
@media screen and (min-width: 768px) {
  .ceritficate-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
  }
}
.certificates-title {
  animation: zoomInOut 2s infinite;
  text-align: center;
  font-style: italic;
  font-family: Lobster;
}
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
.certificate-box {
  border: 1px solid;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .certificate-box {
    width: 350px;
    margin: 10px;
    height: 380px;
  }
}
@media screen and (min-width: 996px) {
  .certificate-box {
    width: 450px;
    margin: 20px;
    /* height: 700px; */
  }
}

@media screen and (min-width: 1200px) {
  .certificate-box {
    width: 600px;
    margin: 20px;
    height: 600px;
  }
}

.certificate-titile {
  text-align: center;
  font-style: italic;
  /* margin-bottom: 100px; */
}
.certificate-img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .certificate-img {
    width: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .certificate-img {
    width: 550px;
  }
}
